body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.nav {
	height: 8vh;
	background-color: #000;
	background-image: url("imgs/bg.jpg");
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10vw;
}

.logo {
	max-height: 7vh;
}
.link a {
	text-decoration: none;
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	padding: 5px;
}
.link a:hover {
	padding: 2px;
	border: 4px double #fff;
}

.inputs {
	display: flex;
	justify-content: center;
	align-items: center;
}
.inputs input {
	height: 30px;
	max-width: 60px;
	padding: 2px 8px;
	font-size: 20px;
}
.inputs button {
	background-color: #eaeaea;
	height: 30px;
}

.QuranReader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem 0;
	background-image: url("imgs/bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.page {
	width: 450px;
	max-width: 90%;
	height: auto;
	object-fit: contain;
	background-color: rgba(255,255,255,0.9);
	border: 2px solid #000;
}
.Reader {
	padding: 5vh 0;
}
.HadithReader {
	/*background-color: #eaeffa;*/
	min-height: 90vh;
	padding: 5vh 0;
}
.hadith {
	width: 900px;
	max-width: 95%;
	margin:auto;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
}

@media only screen and (max-width: 540px) {
	.Reader {
		padding-top: 1.5rem;
	}
	.nav h2 {
		display: none;
	}
	.hadith h1 {
		font-size: 28px;
	}
}